<ul>
  <li (click)="statusManagement.setActiveComponent('Root')"><span [appUiStatus]="'Root'" class="indent-0">Root</span></li>
  <li (click)="statusManagement.setActiveComponent('Parent')"><span [appUiStatus]="'Parent'" class="indent-1">Parent</span></li>
  <li (click)="statusManagement.setActiveComponent('Child')"><span [appUiStatus]="'Child'" class="indent-2">Child</span></li>
  <li (click)="statusManagement.setActiveComponent('NgFor_222222222')"><span [appUiStatus]="'NgFor_222222222'" class="indent-3">NgFor_222222222</span></li>
  <li (click)="statusManagement.setActiveComponent('SubChild_222222222')"><span [appUiStatus]="'SubChild_222222222'" class="indent-4">SubChild_222222222</span></li>
  <li (click)="statusManagement.setActiveComponent('NgFor_333333333')"><span [appUiStatus]="'NgFor_333333333'" class="indent-3">NgFor_333333333</span></li>
  <li (click)="statusManagement.setActiveComponent('SubChild_333333333')"><span [appUiStatus]="'SubChild_333333333'" class="indent-4">SubChild_333333333</span></li>
  <li (click)="statusManagement.setActiveComponent('SubChild_999999999')"><span [appUiStatus]="'SubChild_999999999'" class="indent-3">SubChild_999999999</span></li>
</ul>
